<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DomainApp1.Da1Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <DomainApp1.Da1Settings>
            <setting name="RabbitMq_Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="RabbitMq_ReceiveExchange" serializeAs="String">
                <value>D1Updates</value>
            </setting>
            <setting name="RabbitMq_SendExchange" serializeAs="String">
                <value>ImportantComments</value>
            </setting>
            <setting name="RabbitMq_Topic" serializeAs="String">
                <value>Commentm.#</value>
            </setting>
            <setting name="RabbitMq_AutoDeleteQueue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MoodThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AuthorScoreThreshold" serializeAs="String">
                <value>70</value>
            </setting>
        </DomainApp1.Da1Settings>
    </userSettings>
</configuration>
