<log4net>

  <logger name="Main">
    <appender-ref ref="all"/>
  </logger>

  <appender name="all" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="SyncApp3.log"/>
    <param name="AppendToFile" value="false"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="7"/>
    <maximumFileSize value="100MB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-80m %d %p %n"/>
    </layout>
  </appender>
  
  <!--  Threshold or level values:  Debug, Info, Fatal, Off, All  -->
  
</log4net>
